<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AelfApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
				<key>dateExpires</key>
				<string>2021/5/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BitcoinKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Closures.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ESTabBarController_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FoldingCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Hero.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JJException.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JXSegmentedView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KafkaRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>LTMorphingLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Localize_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MYTableViewIndex.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya_ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NSObject_Rx.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Schedule.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwifterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyAttributes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyRSA.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Validator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ViewAnimator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WCDBSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WKWebViewJavascriptBridge.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqlcipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55B8EE1376F3188B0796A910C001A38D5013C69C</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqliterk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LR77E76VJ6</string>
						<key>name</key>
						<string>Beijing Haopu Information and Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LR77E76VJ6.com.product.aelfWallet</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LR77E76VJ6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>AELF Wallet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c84fdd7c-d44c-447b-b536-0c8702cd6d6c</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.product.aelfWallet</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LR77E76VJ6</string>
				<key>name</key>
				<string>Beijing Haopu Information and Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
